/*!////////////////////////////////////////////////
// BASE
/////////////////////////////////////////////////*/
@-o-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html,
body,
iframe,
div,
section,
header,
p,
a,
ul,
ol,
li,
article,
footer,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/*!////////////////////////////////////////////////
// LAYOUT
/////////////////////////////////////////////////*/
.row {
  clear: both; }

@media screen and (min-width: 400px) {
  .wrap {
    width: 98%; }

  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6,
  .grid-half,
  .grid-full,
  .grid-25,
  .grid-unit {
    float: left;
    width: 100%; }
    .grid-1:nth-child(n),
    .grid-2:nth-child(n),
    .grid-3:nth-child(n),
    .grid-4:nth-child(n),
    .grid-5:nth-child(n),
    .grid-6:nth-child(n),
    .grid-half:nth-child(n),
    .grid-full:nth-child(n),
    .grid-25:nth-child(n),
    .grid-unit:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-1:nth-of-type(1n),
    .grid-2:nth-of-type(1n),
    .grid-3:nth-of-type(1n),
    .grid-4:nth-of-type(1n),
    .grid-5:nth-of-type(1n),
    .grid-6:nth-of-type(1n),
    .grid-half:nth-of-type(1n),
    .grid-full:nth-of-type(1n),
    .grid-25:nth-of-type(1n),
    .grid-unit:nth-of-type(1n) {
      margin-right: 0; }
    .grid-1:last-child,
    .grid-2:last-child,
    .grid-3:last-child,
    .grid-4:last-child,
    .grid-5:last-child,
    .grid-6:last-child,
    .grid-half:last-child,
    .grid-full:last-child,
    .grid-25:last-child,
    .grid-unit:last-child {
      margin-right: 0; }

  .gallery .grid-unit,
  .grid-half {
    width: 49.24242%; }
    .gallery .grid-unit:nth-child(n),
    .grid-half:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .gallery .grid-unit:nth-of-type(2n),
    .grid-half:nth-of-type(2n) {
      margin-right: 0; }
    .gallery .grid-unit:last-child,
    .grid-half:last-child {
      margin-right: 0; }

  .grid-flow-opposite {
    float: right; } }
@media screen and (min-width: 600px) {
  .grid-1 {
    width: 15.40404%; }
    .grid-1:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-1:nth-of-type(6n) {
      margin-right: 0; }
    .grid-1:last-child {
      margin-right: 0; }

  .grid-2 {
    width: 32.32323%; }
    .grid-2:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-2:nth-of-type(3n) {
      margin-right: 0; }
    .grid-2:last-child {
      margin-right: 0; }

  .grid-3,
  .grid-half {
    width: 49.24242%; }
    .grid-3:nth-child(n),
    .grid-half:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-3:nth-of-type(2n),
    .grid-half:nth-of-type(2n) {
      margin-right: 0; }
    .grid-3:last-child,
    .grid-half:last-child {
      margin-right: 0; }

  .grid-4 {
    width: 66.16162%; }
    .grid-4:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-4:nth-of-type(1.5n) {
      margin-right: 0; }
    .grid-4:last-child {
      margin-right: 0; }

  .grid-5 {
    width: 82.74242%; }
    .grid-5:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-5:nth-of-type(1.20482n) {
      margin-right: 0; }
    .grid-5:last-child {
      margin-right: 0; }

  .grid-6,
  .grid-full {
    width: 100%; }
    .grid-6:nth-child(n),
    .grid-full:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-6:nth-of-type(1n),
    .grid-full:nth-of-type(1n) {
      margin-right: 0; }
    .grid-6:last-child,
    .grid-full:last-child {
      margin-right: 0; }

  /* If there are no margins */
  .grid-1.no-margin {
    width: 16.66667%; }
    .grid-1.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-1.no-margin:nth-of-type(6n) {
      margin-right: 0; }
    .grid-1.no-margin:last-child {
      margin-right: 0; }

  .grid-2.no-margin {
    width: 33.33333%; }
    .grid-2.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-2.no-margin:nth-of-type(3n) {
      margin-right: 0; }
    .grid-2.no-margin:last-child {
      margin-right: 0; }

  .grid-3.no-margin,
  .grid-half.no-margin {
    width: 50%; }
    .grid-3.no-margin:nth-child(n),
    .grid-half.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-3.no-margin:nth-of-type(2n),
    .grid-half.no-margin:nth-of-type(2n) {
      margin-right: 0; }
    .grid-3.no-margin:last-child,
    .grid-half.no-margin:last-child {
      margin-right: 0; }

  .grid-4.no-margin {
    width: 66.66667%; }
    .grid-4.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-4.no-margin:nth-of-type(1.5n) {
      margin-right: 0; }
    .grid-4.no-margin:last-child {
      margin-right: 0; }

  .grid-5.no-margin {
    width: 83.0%; }
    .grid-5.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-5.no-margin:nth-of-type(1.20482n) {
      margin-right: 0; }
    .grid-5.no-margin:last-child {
      margin-right: 0; }

  .grid-6.no-margin,
  .grid-full.no-margin {
    width: 100%; }
    .grid-6.no-margin:nth-child(n),
    .grid-full.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-6.no-margin:nth-of-type(1n),
    .grid-full.no-margin:nth-of-type(1n) {
      margin-right: 0; }
    .grid-6.no-margin:last-child,
    .grid-full.no-margin:last-child {
      margin-right: 0; }

  .grid-25 {
    width: 23.86364%; }
    .grid-25:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-25:nth-of-type(4n) {
      margin-right: 0; }
    .grid-25:last-child {
      margin-right: 0; }

  .grid-25.no-margin {
    width: 25%; }
    .grid-25.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-25.no-margin:nth-of-type(4n) {
      margin-right: 0; }
    .grid-25.no-margin:last-child {
      margin-right: 0; }

  .gallery .grid-unit {
    width: 32.32323%; }
    .gallery .grid-unit:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .gallery .grid-unit:nth-of-type(3n) {
      margin-right: 0; }
    .gallery .grid-unit:last-child {
      margin-right: 0; }

  .content-pad-right {
    padding-right: 4%;
    /* Use (or don't) as necessary. */ }

  .content-pad-left {
    padding-left: 4%; } }
.container {
  max-width: 1280px;
  width: 92%;
  margin: 0px auto;
  position: relative; }

a, p, h1, h2, h3 {
  text-decoration: none;
  font-weight: normal; }

button {
  border: none;
  background: none;
  outline: 0; }

textarea:focus, input:focus {
  outline: 0; }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color; }

img {
  max-width: 100%;
  height: auto; }

/*!////////////////////////////////////////////////
// Custom Shorthand
/////////////////////////////////////////////////*/
h1, h2, h3, h4 {
  font-family: "Alegreya", serif;
  font-weight: bold; }

h1 {
  color: white;
  font-style: italic;
  font-size: 3em; }

h2 {
  font-style: italic; }

h3 {
  color: #003a66;
  font-size: 1.625em;
  font-style: italic; }

p {
  font-family: "Lato", sans-serif; }

a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

/*!////////////////////////////////////////////////
// MODULES
/////////////////////////////////////////////////*/
.test {
  min-height: 50px;
  background-color: gray; }

.navigation-container {
  border-top: 4px solid #fdce07;
  position: relative;
  border-bottom: 2px solid #e5e5e5; }

nav {
  text-align: center; }
  nav a {
    color: #003a66;
    font-family: "Alegreya", serif;
    font-size: 1.375em;
    padding: 5px;
    display: inline-block;
    border-bottom: 2px solid white; }
  nav a:hover {
    border-bottom: 2px solid #fdce07;
    color: #fdce07; }
  nav .circle {
    background-color: #fdce07;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    display: inline-block;
    text-align: center; }

.header-container {
  margin: 40px 0; }
  .header-container .logo {
    width: 20%; }
  .header-container .header {
    text-align: center;
    width: 63%; }
  .header-container h2 {
    color: #003a66;
    font-style: normal;
    font-size: 2em;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 45px; }
  .header-container span {
    font-size: 1.375em;
    color: gray;
    font-style: italic;
    width: 100%;
    font-family: "Alegreya", serif;
    font-weight: bold; }
  .header-container .social {
    float: right;
    margin-top: 30px; }
    .header-container .social .facebook {
      background-color: #3b579d; }
    .header-container .social .twitter {
      background-color: #69b6f0; }
    .header-container .social i {
      color: white;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      text-align: center;
      margin-right: 10px; }
    .header-container .social .fa-lg {
      line-height: 1.5em; }

.header-info {
  background-color: #003a66;
  padding: 40px 0 0 0; }
  .header-info p {
    color: white;
    font-size: 1em;
    line-height: 1.75em; }
  .header-info .home {
    margin: 40px 0;
    position: relative; }
  .header-info .home:after {
    content: "";
    width: 100px;
    height: 4px;
    background-color: #fdce07;
    position: absolute;
    bottom: -20px;
    left: 0; }
  .header-info h3 {
    background-color: white;
    width: 100%;
    padding: 10px; }
  .header-info .grid-3 {
    margin-bottom: 0; }

h1.home {
  font-size: 2.375em; }

.side-bar {
  background-color: #e5e5e5;
  padding: 40px 10px 20px 10px;
  height: 100%; }
  .side-bar ul {
    list-style-type: none;
    margin-bottom: 60px; }
    .side-bar ul li {
      width: 100%;
      background-color: #fdce07;
      margin-bottom: 10px;
      height: auto; }
      .side-bar ul li a {
        color: #003a66;
        font-family: "Alegreya", serif;
        padding: 10px;
        display: block;
        font-size: 1.5em;
        font-weight: bold; }
        .side-bar ul li a span {
          position: absolute;
          right: 10px;
          line-height: 34px; }
      .side-bar ul li a:hover {
        background-color: #003a66;
        color: #fdce07; }
  .side-bar .emergency-alert-container {
    background-color: white; }
    .side-bar .emergency-alert-container h2 {
      font-style: normal;
      color: white;
      background-color: black;
      width: 100%;
      padding: 5px 20px;
      font-size: 1.5em; }
    .side-bar .emergency-alert-container img {
      display: block;
      padding: 20px 20px 0 20px; }
    .side-bar .emergency-alert-container a {
      color: #252525;
      font-family: "Alegreya", serif;
      font-size: 1.25em;
      font-weight: 900;
      position: relative;
      padding: 20px 0 10px 20px;
      display: block; }
      .side-bar .emergency-alert-container a span {
        margin-left: 10px;
        font-weight: 900; }
    .side-bar .emergency-alert-container a:hover {
      text-decoration: underline; }
  .side-bar .latest-events-container {
    padding-top: 60px; }
    .side-bar .latest-events-container h2 {
      color: #003a66; }
    .side-bar .latest-events-container ul li {
      position: relative;
      background-color: white;
      padding: 10px 20px; }
      .side-bar .latest-events-container ul li a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0; }
      .side-bar .latest-events-container ul li span {
        color: #003a66;
        font-family: "Alegreya", serif;
        font-weight: bold;
        font-size: 1.25em; }
      .side-bar .latest-events-container ul li p {
        font-size: 1.125em;
        font-family: "Alegreya", serif;
        color: gray; }
    .side-bar .latest-events-container ul li:last-child {
      padding: 0; }
      .side-bar .latest-events-container ul li:last-child a {
        font-size: 1.25em;
        padding: 10px 10px 10px 20px; }
        .side-bar .latest-events-container ul li:last-child a span {
          position: relative;
          font-family: 'FontAwesome';
          margin-left: 20px; }
      .side-bar .latest-events-container ul li:last-child a:hover {
        text-decoration: underline;
        background-color: white;
        color: #003a66; }
  .side-bar .contact-us-container {
    background-color: #003a66;
    color: white;
    padding: 20px; }
    .side-bar .contact-us-container h2 {
      margin-bottom: 10px; }
    .side-bar .contact-us-container span {
      display: block;
      font-family: "Alegreya", serif;
      font-size: 1.125em;
      color: white;
      font-weight: bold;
      margin-bottom: 10px; }
    .side-bar .contact-us-container span:last-child {
      margin-bottom: 0; }

/*!////////////////////////////////////////////////
// STATES
/////////////////////////////////////////////////*/
/*! ==========================================================================
// Media Queries
// =========================================================================*/
/*! ==========================================================================
// Helper classes
// =========================================================================*/
.hidden {
  display: none !important;
  visibility: hidden; }

/*! Micro Clearfix - http://nicolasgallagher.com/micro-clearfix-hack/
// -------------------------------------------------------------- */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1; }

/*! ==========================================================================
// Print styles
// =========================================================================*/
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
